<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GDYF.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>AE45050C88F6C6E635C7938653289644CB7AE701</string>
				<key>dateExpires</key>
				<string>2019/10/15</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE45050C88F6C6E635C7938653289644CB7AE701</string>
						<key>dateExpires</key>
						<string>2019/10/15</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36BPY2UNW2</string>
						<key>name</key>
						<string>EVERBRIGHT YUNFU INTERNET CO.,LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE45050C88F6C6E635C7938653289644CB7AE701</string>
						<key>dateExpires</key>
						<string>2019/10/15</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36BPY2UNW2</string>
						<key>name</key>
						<string>EVERBRIGHT YUNFU INTERNET CO.,LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE45050C88F6C6E635C7938653289644CB7AE701</string>
						<key>dateExpires</key>
						<string>2019/10/15</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FLAnimatedImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36BPY2UNW2</string>
						<key>name</key>
						<string>EVERBRIGHT YUNFU INTERNET CO.,LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE45050C88F6C6E635C7938653289644CB7AE701</string>
						<key>dateExpires</key>
						<string>2019/10/15</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36BPY2UNW2</string>
						<key>name</key>
						<string>EVERBRIGHT YUNFU INTERNET CO.,LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE45050C88F6C6E635C7938653289644CB7AE701</string>
						<key>dateExpires</key>
						<string>2019/10/15</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36BPY2UNW2</string>
						<key>name</key>
						<string>EVERBRIGHT YUNFU INTERNET CO.,LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE45050C88F6C6E635C7938653289644CB7AE701</string>
						<key>dateExpires</key>
						<string>2019/10/15</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36BPY2UNW2</string>
						<key>name</key>
						<string>EVERBRIGHT YUNFU INTERNET CO.,LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE45050C88F6C6E635C7938653289644CB7AE701</string>
						<key>dateExpires</key>
						<string>2019/10/15</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36BPY2UNW2</string>
						<key>name</key>
						<string>EVERBRIGHT YUNFU INTERNET CO.,LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE45050C88F6C6E635C7938653289644CB7AE701</string>
						<key>dateExpires</key>
						<string>2019/10/15</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36BPY2UNW2</string>
						<key>name</key>
						<string>EVERBRIGHT YUNFU INTERNET CO.,LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE45050C88F6C6E635C7938653289644CB7AE701</string>
						<key>dateExpires</key>
						<string>2019/10/15</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SocketRocket.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36BPY2UNW2</string>
						<key>name</key>
						<string>EVERBRIGHT YUNFU INTERNET CO.,LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE45050C88F6C6E635C7938653289644CB7AE701</string>
						<key>dateExpires</key>
						<string>2019/10/15</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>WeexSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36BPY2UNW2</string>
						<key>name</key>
						<string>EVERBRIGHT YUNFU INTERNET CO.,LTD</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>36BPY2UNW2.com.guangda.GDYF</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>36BPY2UNW2</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array/>
			</dict>
			<key>name</key>
			<string>GDYF.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>cac51d8a-e194-439e-9dfd-bdf119f12cbe</string>
				<key>name</key>
				<string>GDYFAHProfile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>36BPY2UNW2</string>
				<key>name</key>
				<string>EVERBRIGHT YUNFU INTERNET CO.,LTD</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
