<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://github.com/yuhongli1989/testDown/blob/master/GDYF.ipa?raw=true</string>
		<key>displayImageURL</key>
		<string>https://github.com/yuhongli1989/testDown/blob/master/image.57*57.png?raw=true</string>
		<key>fullSizeImageURL</key>
		<string>https://github.com/yuhongli1989/testDown/blob/master/image.512*512.png?raw=true</string>
	</dict>
	<key>method</key>
	<string>ad-hoc</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.guangda.GDYF</key>
		<string>GDYFAHProfile</string>
	</dict>
	<key>signingCertificate</key>
	<string>iPhone Distribution</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>36BPY2UNW2</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
