<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>http://file.ebchina.site/sites/cms/20181015\2\GDYF.ipa</string>
		<key>displayImageURL</key>
		<string>http://172.16.89.145:9006/sites/cms/20181011\2\802616666382248581.png</string>
		<key>fullSizeImageURL</key>
		<string>http://172.16.89.145:9006/sites/cms/20181011\2\84448827775799939.png</string>
	</dict>
	<key>method</key>
	<string>ad-hoc</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.guangda.GDYF</key>
		<string>GDYFAHProfile</string>
	</dict>
	<key>signingCertificate</key>
	<string>iPhone Distribution</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>36BPY2UNW2</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
