<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://172.16.89.145:9006/sites/cms/20181011\2\GDYF.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>http://172.16.89.145:9006/sites/cms/20181011\2\802616666382248581.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>http://172.16.89.145:9006/sites/cms/20181011\2\84448827775799939.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.guangda.GDYF</string>
				<key>bundle-version</key>
				<string>2.1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>光大云富</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
